<!DOCTYPE html>
<html>
  <head>
    <title>PracticaIndividual1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"nav-link" %>
        <%end%>
        <% if notice %>
          <p class="notice alert-success"><%= notice %></p>
        <%end%>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <%end%>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
