<%= form_with(model: formulario) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
        <% formulario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :"color favorito" %>
    <%= form.color_field :color %>
  </div>

  <div class="field">
    <%= form.label :"¿Le ha gustado?" %>
    <%= form.check_box :like %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-primary" %>
  </div>
<% end %>
